.formContainer {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYzIiBoZWlnaHQ9IjcxOSIgZmlsbD0ibm9uZSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44ODIgNzA3LjIzNiAyLjY4OCA3MTcgNjYxIDcwNy4yMzYgNjQ2LjU0OCAxOS44MzFsNi44ODItOS4wNjdWMUgxMjEuNzQ1TDIgMTMuNTU0bDYuODgyIDY5My42ODJaIiBmaWxsPSIjZmZmIiBzdHJva2U9IiNFOEY0RkYiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYzIiBoZWlnaHQ9IjcxOSIgZmlsbD0ibm9uZSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44ODIgNzA3LjIzNiAyLjY4OCA3MTcgNjYxIDcwNy4yMzYgNjQ2LjU0OCAxOS44MzFsNi44ODItOS4wNjdWMUgxMjEuNzQ1TDIgMTMuNTU0bDYuODgyIDY5My42ODJaIiBmaWxsPSIjZmZmIiBzdHJva2U9IiNFOEY0RkYiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    padding: 60px;
    --tw-bg-opacity: 1;
    position: relative;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.formHeader {
  /* margin-bottom: 2.5rem; */
  padding-left: 25px;
}

.formTitle {
  font-size: 32px;
  color: rgb(57 7 63);
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 36px;
}

.formDescription {
  color: rgb(57 7 63);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

/* .contactForm {
  width: 700px;
  max-width: 100%;
  margin: 0px auto;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: initial;
  font-size: 18px;
  line-height: 32px;
} */

/* .contactChild {
  display: flex;
  margin-bottom: .2px;
} */

/* Responsive Design */
@media (max-width: 768px) {
  .formContainer {
    padding: 2rem;
  }

  .formTitle {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .formContainer {
    padding: 1.5rem;
  }

  .formTitle {
    font-size: 1.75rem;
  }

  .formDescription {
    font-size: 0.95rem;
  }
}
