.header {
    background-image: url(https://www.aleo.agency/_nuxt/img/4931661.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 220px;
    padding-bottom: 289px;
    --tw-bg-opacity: 1;
    background-color: rgb(244 250 255 / var(--tw-bg-opacity));
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 98%;
    margin: auto;
    position: relative;
}

.title {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #ff4235;
}

.subtitle {
    font-size: 54px;
    line-height: 60px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #39073f;
    margin: 0;
    max-width: 806px;
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    color: #39073f;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    max-width: 1440px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}

.buttons {
    column-gap: .5rem;
    justify-content: center;
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact_button {
    font-size: 1rem;
    line-height: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 150ms;
    color: rgb(255 255 255);
    font-weight: 800;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(231 51 49 / var(--tw-bg-opacity));
    border-radius: 64px;
    width: max-content;
    border: none;
}

.contact_button:hover {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.logos {
    max-width: 669px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.woman {
    width: 36vw;
    display: block;
    position: absolute;
    left: -8rem;
    bottom: 0;
}